body{
    margin:0;
    padding:0;
}
.nav_bar{
    height:9rem;
    width:100%;
    border:2px solid black;
    display:flex;
    align-items:center;
    padding-left:2%;
    gap:10%;
}
.logo{
    width:11%;
    height:4rem;
    background:url("assets/swiggy-logo_C.webp");
    background-size:cover;
    border:2px dotted blue;

}
.right_portion{
    width:77%;
    height:4rem;
    border:2px dotted red;
    display:flex;
    align-items:center;
    gap:3%;
}
.right_child{
    height:2rem;
    width:12%;
    border:2px dotted green;
}