@font-face {
    font-family: 'Gilroy-Medium';
    src:url("assets/Gilroy-Medium.woff2")
    format('woff2')

}
* {
            font-family: Gilroy-Medium;
        }

        body {
            margin: 0;
            padding: 0;
            background: rgb(255, 82, 0);
            overflow-x:hidden;
        }

        .side_2 {
            height: 100vh;
            width: 100%;
            display: flex;
            justify-content: space-around;
            position: absolute;
            z-index: -100;
            gap: 60vw;

        }

        .left_img {
            height: 800px;
            width: 400px;
            background: url("assets/Veggies_new.png.avif");
            background-size: cover;
        }

    .right_img {
            height: 800px;
            width: 400px;
            background: url("assets/Sushi_replace.png.avif");
            background-size: cover;

        }

        .navbar {
            padding-top: 60px;
            height: 30px;
            width: 100%;
            background: none;
            display: flex;
            justify-content: space-around;
            align-items: center;
            /* width:  */
        }

        .logo {
            height: 6.7vh;
            width: 12vw;
            background: url("assets/swiggy_logo_white.png.avif");
            background-size: cover;

        }

        .nav_right {
            display: flex;
            gap: 30px;
            align-items: center;
        }

        h5 {
            font-size: x-large;
            color: white;
        }

        .ga {
            height: 70px;
            width: 200px;
            background: none;
            font-size: x-large;
            border: 1px solid white;
            border-radius: 18px;
            color: white;
        }

        .sin {
            height: 70px;
            width: 180px;
            background: black;
            font-size: x-large;
            border: none;
            border-radius: 19px;
            color: white;
        }
        .upper_content{
            display:flex;                    
            align-items:center;
            justify-content:center;
            left:25%;
            position:absolute; 
            z-index:-80;
        
        }
        .main_text{
            text-align:center;
            color:white;
            font-size:70px;
        }
        .search_boxes{
            display:flex;
            justify-content:center;
            align-items:center;
            position:absolute;
            margin-top:35vh;
            gap:20px;
        }
        .location{
            display:flex;
            justify-content:center;
            align-items:center;
        }
        #i_l{
            position:relative;
            z-index:-8;
            left:50px;
            height:30px;
            width:30px;
            color:rgb(255, 82, 0);
        }
        #i_s{
            position:relative;
            z-index: -8;
            height:25px;
            width: 25px;
            right:60px;
            color:rgb(151, 145, 145);
        }
        input{
        
            height:80px;
            font-size:x-large;
            border:2px solid rgb(208, 204, 204);
            border-radius:20px;
            position:relative;
            z-index:-9;
        }
        #loc_input{
            width:400px;
        }
        #search_input{
            width:600px;
            position:relative;
            z-index: -9;
        }
        .search{
            display:flex;
            justify-content:center;
            align-items:center;
        }
        .loc-icon{
            margin-left:100px;
            color:rgb(5, 3, 2);
        }
        .quici_glanse{
            margin-top:100vh;
            display:flex;
            justify-content:center;
            position:absolute;
            gap:3vw;
        }
        .q_g{
            height:380px;
            width:420px;
            border: none;
            border-radius:60px;
            
            
        }
        #food_delivery{
            background:url("assets/ec86a309-9b06-48e2-9adc-35753f06bc0a_Food3BU.png.avif");
            background-size:cover;
        }
        #instamart{
            background:url("assets/b5c57bbf-df54-4dad-95d1-62e3a7a8424d_IM3BU.png.avif");
            background-size:cover;
        }
        #dineout{
            background:url("assets/b6d9b7ab-91c7-4f72-9bf2-fcd4ceec3537_DO3BU.png.avif");
            background-size:cover;
        }
        #b_food_op{
            height:5vh;
            width:100%;
            margin-top:50%;
            background:white;
            font-size:xxx-large
            
        }
        .mid_upper{
            height:50vh;
            width:100%;
            background:white;
            margin-top:0%;
            overflow-x: auto;         
            overflow-y: hidden;       
            gap: 15px;                
            padding: 20px;
            
        }
        #b_food_op{
            padding-top:10vh;
            font-size:xx-large;
        }
        .sc-etV{
            height:250px;
            width:250px;
            border:none;
            flex: 0 0 150px;         
            scroll-snap-align: start;
            
        }
        .mid_upper::-webkit-scrollbar {
        display: none;
        }
        #T_i1{
            background:url("assets/North\ Indian.png");
            background-size:cover;
        }
        #T_i2{
            background:url("assets/Cake.png");
            background-size:cover;
        }
        #T_i3{
            background:url("assets/Idli.png");
            background-size:cover;
        }
        #T_i4{
            background:url("assets/Dosa.png");
            background-size:cover;
        }
        #T_i5{
            background:url("assets/Biryani.png");
            background-size:cover;
        }
        #T_i6{
            background:url("assets/Paratha.png");
            background-size:cover;
        }
        #T_i7{
            background:url("assets/Tea.png");
            background-size:cover;
        }
        #T_i8{
            background:url("assets/Vada.png");
            background-size:cover;
        }
        #T_i9{
            background:url("assets/Salad.png");
            background-size:cover;
        }
        #T_i10{
            background:url("assets/Chole\ Bhature.png");
            background-size:cover;
        }
        #T_i11{
            background:url("assets/Samosa.png");
            background-size:cover;
        }
        #T_i12{
            background:url("assets/Poori.png");
            background-size:cover;
        }
        #T_i13{
            background:url("assets/Juice.png");
            background-size:cover;
        }
        #T_i14{
            background:url("assets/Poha.png");
            background-size:cover;
        }
        #T_i15{
            background:url("assets/Coffee.png");
            background-size:cover;
        }
        #T_i16{
            background:url("assets/Shake.png");
            background-size:cover;
        }
        #T_i17{
            background:url("assets/Khichdi.png");
            background-size:cover;
        }
        #T_i18{
            background:url("assets/Lassi.png");
            background-size:cover;
        }
        #T_i19{
            background:url("assets/Omelette.png");
            background-size:cover;
        }
        #T_i20{
            background:url("assets/Cutlet.png");
            background-size:cover;
        }


        .the_items{
            display:grid;
            grid-template-rows: repeat(2, 1fr);
            grid-template-columns: repeat(10,1fr) ;
        }
        #b_food_op2{
            height:6vh;
            width:100%;
            margin-top:0%;
            background:white;
            font-size:xx-large
        }
        .mid_upper2{
            height:40vh;
            width:100%;
            background:white;
            margin-top:0%;
            overflow-x: auto;         
            overflow-y: hidden;       
            gap: 15px;                
            padding: 20px;
            
        }
        .mid_upper2::-webkit-scrollbar {
            display: none;
        }
        .the_items2{
            height:5vh;
            display:flex;
            justify-content:space-between;
            gap: 35px; 
        }
        .sc-etV2{
            height: 180px;
            width: 145px;
            border:none;
            flex: 0 0 160px;         
            scroll-snap-align: start;
        }
        #b_food_op23{
        height:8rem;
        width:100%;
            margin-top:0%;
            background:white;
            font-size:xx-large
        }
        .mid_upper23{
            height:90%;
            width:80%;
            background:white;
            overflow-x: auto;         
            overflow-y: hidden; 
                 
            
        }
        .mid_upper23::-webkit-scrollbar {
        display: none;
        }
        .the_items23{
            height:1vh;
            display:flex;
            justify-content:space-between;
            gap: 15px; 
        }
        #T2_i1{
            background:url("assets/43e3c412-4ca9-4894-82ba-24b69da80aa6_06c0d2a9-804c-4bf1-8725-7ebd234e144a.png");
            background-size:cover;
            
        }
        #T2_i2{
            background:url("assets/a1493d81-f21e-415f-9875-f78383590fc2_9f3f0f68-4fbe-40f6-8f5d-5472a03469bd.png");
            background-size:cover;
           
        }
        #T2_i3{
            background:url("assets/6dea6676-ce07-45e6-b60c-a099c01c5462_6d33297a-5828-48ff-aa2a-c052ae97669e.png");
            background-size:cover;
           
        }
        #T2_i4{
            background:url("assets/097900ca-5d2d-4bb0-8e54-aede1e58dfd8_eab3796c-ac17-48fd-bfc7-6356c6f89783.png");
            background-size:cover;
           
        }
        #T2_i5{
            background:url("assets/64714677-e6b6-41c1-b533-6644d43e55f7_76ef86af-0483-41a5-8387-37901bf4ca6a.png");
            background-size:cover;
           
        }
        #T2_i6{
            background:url("assets/t2_i6.png");
            background-size:cover;
           
        }
        #T2_i7{
            background:url("assets/t2_i7.png");
            background-size:cover;
           
        }
        #T2_i8{
            background:url("assets/t2_i8.png");
            background-size:cover;
           
        }
        #T2_i9{
            background:url("assets/t2_i9.png");
            background-size:cover;
           
        }
        #T2_i10{
            background:url("assets/t2_i10.png");
            background-size:cover;
           
        }
        #T2_i11{
            background:url("assets/t2_i11.png");
            background-size:cover;
           
        }
        #T2_i12{
            background:url("assets/t2_i12.png");
            background-size:cover;
           
        }
        #T2_i13{
            background:url("assets/t2_i13.png");
            background-size:cover;
           
        }
        #T2_i14{
            background:url("assets/t2_i14.png");
            background-size:cover;
           
        }
        #T2_i15{
            background:url("assets/t2_i15.png");
            background-size:cover;
           
        }
        #T2_i16{
            background:url("assets/t2_i16.png");
            background-size:cover;
           
        }
        #T2_i17{
            background:url("assets/t2_i17.png");
            background-size:cover;
           
        }
        #T2_i18{
            background:url("assets/t2_i18.png");
            background-size:cover;
           
        }
        #T2_i19{
            background:url("assets/t2_i19.png");
            background-size:cover;
           
        }
        #T2_i20{
            background:url("assets/t2_i20.png");
            background-size:cover;
           
        }
        #T2_i21{
            background:url("assets/t2_i21.png");
            background-size:cover;
           
        }
        #T2_i22{
            background:url("assets/t2_i22.png");
            background-size:cover;
           
        }
        #T2_i23{
            background:url("assets/t2_i23.png");
            background-size:cover;
           
        }
        #T2_i24{
            background:url("assets/t2_i24.png");
            background-size:cover;
           
        }
        .tst{
            margin-top:18vh;
            font-size:x-large;
            text-align:center;
            
        }
        .sc-etV23{
            height: 440px;
            width: 3px;
            border:none;
            flex: 0 0 440px;         
            scroll-snap-align: start;
            border-radius:20px;
            align-items:center;
            background:none;
            background-size:cover;

        }
        .inter_image{
            height:220px;
            width:440px;
            background:blue;
            border-radius: 20px 20px 0 0;
        }
        .down_white{
            
            height:220px;
            width:440px;
            background:rgb(255, 255, 255);
            border-radius: 0 0 20px 20px;
            border:1px solid rgb(235, 232, 232);
        }
        .lower_mid{
            height:50vh;
            width:100%;
            background:white;
            display:flex;
            justify-content:center;
        }

        #imag1{
            background-image:url("assets/t23_i1.JPG");
            background-size: cover;
        }
        #imag2{
            background-image:url("assets/t23_i2.jpeg");
            background-size: cover;
        }
        #imag3{
            background-image:url("assets/t23_i3.jpg");
            background-size: cover;
        }
        #imag4{
            background-image:url("assets/t23_i4.JPG");
            background-size: cover;
        }
        #imag5{
            background-image:url("assets/t23_i5.jpg");
            background-size: cover;
        }
        #imag6{
            background-image:url("assets/t23_i6.JPG");
            background-size: cover;
        }
        #imag7{
            background-image:url("assets/t23_i7.JPG");
            background-size: cover;
        }
        #imag8{
            background-image:url("assets/t23_i8.jpg");
            background-size: cover;
        }


        .title_reat{
            height:220px;
            width:440px;
            display:flex;
            justify-content:space-between;
            color:white;
            font-size:large;
            font-weight:900;
            align-items:end;
        }
        .number{
            height: 40px;
            width: 80px;
        }
        .title{
            height: 40px;
            width: 260px;
            margin-bottom:22px;
            font-weight:800;
        }
        .price_in{
            width:400px;
            display:flex;
            justify-content:space-between;

        }
        .name_price{
            width:440px;
            display:flex;
            justify-content:center;
            padding-top:20px;
            font-size:17px;

        }
        .address_distance{
            width:440px;
            display:flex;
            justify-content:center;
            padding-top:10px;
            font-size:17px;

        }
        .distance_in{
            width: 400px;
            display:flex;
            justify-content:space-between;
        }
        .flat_discount{
            padding-top:20px;
            width:440px;
            height:50px;
            display:flex;
            justify-content:center;

        }
        .discount_button{
            width:400px;
            height:50px;
            display:flex;
            justify-content:center;
            background:rgb(27, 166, 114);
            border-radius:18px;
            font-size:17px;
            color:white;
        }
        .gg_center{
            width: 375px;
            height:50px;
            display:flex;
            justify-content:space-between;
        }
        .left_sidee{
            display:flex;
            justify-content:center;
            align-items:center;
        }
        .ofer_png{
            width:30px;
            height:30px;
            background-image:url("assets/OFFER.png");
            background-size:cover;
        }

        .bank_ofer{
            width:400px;
            height:50px;
            background:var(--Light-Comms-Positive-Sub,#c8f9e5);
            border-radius:18px;
            font-size:20px;
            text-align:left;
            color:rgb(27, 166, 114);
            display:flex;
            align-items:center;
        }
        .out_BF{
            padding-top:15px;
            width:440px;
            height:50px;
            display:flex;
            justify-content:center;

        }
        .eet{
            padding-left:20px;
        }
        a{
            text-decoration:none;
            color:white;
        }
